body {
	display: flex;
	justify-content: flex-end;
}
.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
    background: #FFEFBA;
	transform: translateY(-100%);
	transition: transform 0.5s; 
}

.menu.active {
	transform: translateY(0);
}

.menu__link {
    color: #222;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

ul {
	list-style-type: none;
}


.menu-button {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:1;
	overflow: hidden;
	border: none;
	border-bottom: 2px solid #222;
	background: transparent;
	cursor: pointer;
}

.menu-button:before,
.menu-button:after
 {
	content:'';
	width: 30px;
	height: 2px;
	position: absolute;
	transform: translate(-50%, -50%);
	background-color: #222;
	transition: transform 0.5s;
}

.menu-button:before {
	top: 30%;
}
.menu-button:after {
	top: 67%;
}

/* Change menu icon */
.menu-button.active {
  border-bottom: none;
}
.menu-button.active:before {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-button.active:after {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}


